#form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  gap: 12px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.table {
  width: 800px;
  margin: 0 auto;
}
